<div class="container">
    <h2>Item Types</h2>
    <a routerLink="add" class="btn btn-outline-primary col-12 mt-4 mb-4">
        Add
    </a>
    <table class="table table-responsive table-striped text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th colspan="3">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list">
                <td>{{item.name}}</td>
                <td><a routerLink="edit/{{item.id}}" class="btn btn-outline-warning">Edit</a></td>
                <td><button (click)="delete(item.id)" class="btn btn-outline-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>