<div class="container pt-5">
    <div class="card">
        <div class="card-body">
            <h2>Add Character</h2>
            <div class="mb-3" *ngFor="let skill of skills">
                <label class="form-label" for="{{skill.name}}">{{skill.name}}</label>
                <input class="form-control text-light" id="{{skill.name}}" value="{{this.getSummary(skill.value,skill.advancement)}}">
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-4">
                        <input class="form-control text-light col-4" [(ngModel)]="rollRequest.amount" type="number">
                    </div>
                    <div class="col-4">
                        <input class="form-control text-light col-4" [(ngModel)]="rollRequest.dice" type="number">
                    </div>
                    <div class="col-4">
                        <input class="form-control text-light col-4" [(ngModel)]="rollRequest.static" type="number">
                    </div>
                </div>
            </div>
            <div (click)="roll()" class="mb-3">
                <button class="btn btn-outline-success col-12">
                    Roll
                </button>
            </div>
            <div (click)="add()" class="mb-3">
                <button class="btn btn-outline-primary col-12">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>